@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Pathway+Extreme:wght@200;600&display=swap');

body {
    background: rgb(24, 22, 1);
    
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Pathway Extreme', sans-serif;
    margin: 0;
    padding: 35px;
    box-sizing: border-box;
}
    input{
        color: black;
        font-size: 15px;
        background-color: bisque;
    width: 350px;
    height: 40px;
    border-radius: 12px;
    border-style: none;
}
    button{
        margin: 15px;
    background-color: rgb(203, 218, 213);
    font-size: 20px;
    color: rgb(34, 34, 34);
    border-radius: 15px;
    border-style: none;
    height: 40px;
}
    h1{
    color:aliceblue;
}
    h2{
    color: aliceblue;
}
    p{
    color: aliceblue;
}

.form-container{
    text-align: right;
    float: right;
}