body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button-container{
    margin-left: 100px;
    text-align: center;
}

.weather-container {
    margin-left: 100px;
}


.form-container {
    text-align: right;
    margin-top: 20px;
    margin-right: 100px;
}

input {
    padding: 10px;
    width: 35%;
    box-sizing: border-box;
}

button.submit-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.submit-button:hover {
    background-color: #f1f1f1;
}
